### Series

In [2]:
import pandas as pd 
data = dict(AI=25, Net=30, App=30, Java=27) # number of students
series = pd.Series(data=data)

print(data, "\n", series)

print(f"series[0]: {series[0]}")
print(f"series[0]: {series[-1]}")

print(f"series keys: {series.keys()}")
print(f"series keys: {series.keys()[2]}")
print(f"series keys: {series[series.keys()[0]]}")

print(f"series.iloc: {series.iloc[0]}")
print(f"series by column: {series["AI"]}")

{'AI': 25, 'Net': 30, 'App': 30, 'Java': 27}
 AI      25
Net     30
App     30
Java    27
dtype: int64
series[0]: 25
series[0]: 27
series keys: Index(['AI', 'Net', 'App', 'Java'], dtype='object')
series keys: App
series keys: 25
series.iloc: 25
series by column: 25

C:\Users\SelmaMahmic-AI24GBG\AppData\Local\Temp\ipykernel_6328\1476437859.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"series[0]: {series[0]}")
C:\Users\SelmaMahmic-AI24GBG\AppData\Local\Temp\ipykernel_6328\1476437859.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"series[0]: {series[-1]}")

In [3]:
import random as rng

rng.seed(42)

dice_series = pd.Series([rng.randint(1, 6) for _ in range(5000)])
print(dice_series)

print(f"Min value {dice_series.min()}")
print(f"Max value {dice_series.max()}")
print(f"Mean value {dice_series.mean()}")
print(f"Median value {dice_series.median()}")
print(f"Standard deviation {dice_series.std()}")

0       6
1       1
2       1
3       6
4       3
       ..
4995    4
4996    1
4997    1
4998    5
4999    2
Length: 5000, dtype: int64
Min value 1
Max value 6
Mean value 3.531
Median value 4.0
Standard deviation 1.7059956284284092

In [4]:
#df = pd.DataFrame(series, columns=("Num students"))
df = pd.DataFrame(series, columns=["Num students"])
print(df)
print(df.T)

      Num students
AI              25
Net             30
App             30
Java            27
              AI  Net  App  Java
Num students  25   30   30    27

In [5]:
students = pd.Series(data = dict(AI=25, Net=30, App=30, Java=27))
language = pd.Series(dict(AI="Python", Net="C#", App="Kotlin", Java="Java"))

df_programs = pd.DataFrame({"Students": students, "Language": language})
df_programs

      Students Language
AI          25   Python
Net         30       C#
App         30   Kotlin
Java        27     Java

In [6]:
import numpy as np
df_programs = pd.DataFrame({
    "Students": np.array((25, 30, 30, 27)),
    "Language": np.array(("Python", "C#", "Kotlin", "Java"))
    }, index = ["AI", ".NET", "APP", "Java"])
df_programs

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [7]:
df_programs.index

Index(['AI', '.NET', 'APP', 'Java'], dtype='object')

In [8]:
df_programs["Students"]

AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int64

In [9]:
df_programs[["Language", "Students"]]

     Language  Students
AI     Python        25
.NET       C#        30
APP    Kotlin        30
Java     Java        27

In [10]:
df_programs.Language
df_programs.Students

AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int64

In [11]:
df_programs["Language"][".NET"]

'C#'

In [12]:
print(df_programs.loc["Java"])

df_programs.loc[["Java", "APP"]]

Students      27
Language    Java
Name: Java, dtype: object

      Students Language
Java        27     Java
APP         30   Kotlin

In [13]:
print(df_programs.iloc[1:3])
df_programs.loc[df_programs["Students"] > 28]

      Students Language
.NET        30       C#
APP         30   Kotlin

      Students Language
.NET        30       C#
APP         30   Kotlin

### df = df[conditions]
där condition är ett boolsk utrryck (dvs ger sant eller falskt)

In [14]:
df_programs["Students"] > 25

AI      False
.NET     True
APP      True
Java     True
Name: Students, dtype: bool

In [15]:
df_over_25 = df_programs[df_programs["Students"] > 25]
df_over_25

      Students Language
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel("../Data/calories.xlsx")
df.head() # Visar bara 4 första i en tabell
df.head(10) # Visar 10 första i en tabell

FileNotFoundError: [Errno 2] No such file or directory: '../Data/calories.xlsx'

In [ ]:
df["FoodCategory"].unique()
df["per100grams"].unique()

In [ ]:
df = df.rename(dict(Cals_per100grams="Calories",
                    per100grams="percent", KJ_per100grams="KJ"), axis="columns")
df.head()

In [ ]:
df["Calories"] = df["Calories"].str[:-3].astype(int)
df.head()

In [ ]:
df["percent"].values_counts()

In [ ]:
solids = df[df["percent"] == "100"]
solids.head()
solids.shape # Vilka dimensioner tabellen har

In [1]:
solids_sorted = solids.sort_values(by="Calories", ascending=False)
solids_sorted.iloc[:5]

NameError: name 'solids' is not defined

In [ ]:
solids_sorted = solids.sort_values(by="FoodItem", ascending=False)
solids_sorted.iloc[:5]