In [15]:
import numpy as np 
import pandas as pd

nrows, ncols = 1000000, 100
df1, df2, df3, df4 = [pd.DataFrame(np.random.randn(nrows, ncols)) for _ in range(4)]

In [16]:
%timeit sum_plain = df1+df2+df3+df4
sum_plain = df1+df2+df3+df4

KeyboardInterrupt:

In [ ]:
rolls = pd.DataFrame(np.random.randint(1,6(1,3)), columns=["Die1", "Die2", "Die3"])
rolls.eval("Sum = Die1 + Die2 + Die3", inplace=True)

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\SelmaMahmic-AI24GBG\AppData\Local\Temp\ipykernel_7516\1819524529.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  rolls = pd.DataFrame(np.random.randint(1,6(1,3)), columns=["Die1", "Die2", "Die3"])

TypeError: 'int' object is not callable

In [ ]:
high = 10
rolls.eval("High = Sum > @high", inplace=True)
rolls

NameError: name 'rolls' is not defined

In [ ]:
low = 10
small = rolls[rolls["Sum"] < low]
small

NameError: name 'rolls' is not defined

In [17]:
os = pd.read_csv("../Data/athlete_events.csv")
os.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [21]:
%timeit os[os["Season"] == "Winter"]
%timeit os.query("Season == 'Winter'")

plain = os[os["Season"] == "Winter"]
query = os.query("Season == 'Winter'")

plain.equals(query)

23.8 ms ± 1.33 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
17.6 ms ± 547 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

True

In [24]:
%timeit os[(os["Sex"] == "F") & (os["Height"] > 180) & (os["NOC"] == "SWE")]
%timeit os.query("Sex == 'F' & Height > 180 & NOC == 'SWE'")

plain = os[(os["Sex"] == "F") & (os["Height"] > 180) & (os["NOC"] == "SWE")]
query = os.query("Sex == 'F' & Height > 180 & NOC == 'SWE'")

plain.equals(query)

32.8 ms ± 1.72 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
14.2 ms ± 267 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

True